/* HEADER */

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 70px;
    width: 99%;
    background-color: #766b68;
    /* Change the position property to fixed, and top property to 0 */
    position: fixed;
    top: 0;
    /* Change the z-index property to 10 */
    z-index: 10;
}

.logo {
    width: 80px;
    height: 70px;
}

.header-left {
    float: left;
}

.header-right {
    float: right;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
}

.header-right:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
    line-height: 70px;
    padding: 0 25px;
    text-decoration: none;
    color: white;
    display: block;
}


/* END HEADER */

/* TOP */

a {
  text-decoration: none;
}

.top-wrapper {
  padding: 160px 0;
  background-image: url('image/gambar-top.png');
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 70px;
  opacity: 0.7;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.top-wrapper p {
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 20px;
}

.top-wrapper a {
  font-size: 20px;
}

.btn-wrapper {
  text-align: center;
  margin: 40px 0;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  border-radius: 30px;
  text-align: center;
  opacity: 0.7;
}

.btn:hover {
  opacity: 1
}

.order {
  background-color: red;
  cursor: pointer;
}

/* END TOP */

/* BODY */

.bestseller-section{
  margin-top: 5rem;
  color: #333;
  text-align: center;
}

.bestseller-title{
  text-align: center;
}

.bestseller-main{
  display: flex;
  margin: auto;
  width: 80%;
}

.bestseller-image{
  padding-top: 1rem;
  padding-bottom: 5rem;
  max-width: 28%;
  float: left;
  margin-left: 1rem;
}

.first-bs{
  margin: 0;
}

.bestseller-image img{
  max-height: 230px;
  width: 100%;
  border-radius: 8px;
  /* display: block; */
}

.bestseller-image p{
  text-align: center;
}

/* END BODY */


/*FOOTER*/
footer {
  background-color: #766B68;
  padding: 10px;
  color: #333;
  opacity: 90%;
  clear: left;
}

.input-group input[type=email], .input-group-btn button{
  font-size: 14px;
  color:#333;
  font-weight: 600;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-radius: none;
  cursor: pointer;
  border:.16rem solid #F8E4EB;

}

.input-group-btn button{
  background-color: #F59C24;  
  border-radius: none;
}

.input-group-btn button:hover{
  background-color: #fdfdfd;  
  border:.2rem solid #F59C24;
}

footer .credit{
  font-size: 1.2rem;
  text-align: center;
  padding:0.2rem;
  font-weight: 400;
  letter-spacing: .1rem;
  color:#333;
}

.team{
  background-color: #FEFAF1;
}

.team .footer-box{
  display: flex;

}

.team .footer-box .footer-content{
  margin:2rem;
  flex:1 1 25rem;
}

.footer-content li {
  list-style: none;
  padding-top:1rem;
}

.footer-content li a:hover {
  cursor: pointer;
  color: #F59C24;
}


.footer-content p {
  display: inline-block;
  text-align: justify;
  padding:1rem 0;
}


.btn-whatsapp img {
  height: 50px;
  padding-top: 1%;
  display: block;
}
/*Footer End*/
